


/*
-dil özelliğinin tasarımı
*/

#__next {
  padding: 0;
  
}

html,
body {
  font-family: 'Helvetica',Arial, sans-serif;
  /*background-color: #afafb6;*/
  background-color: #FEFCFC;
  overflow-x: hidden;
}


* {
  box-sizing: border-box;
}




.font-class{
  font-family: 'Roboto Slab', serif;
  color: #1d1313;
}

.header {
  /*background: #afafb6;*/
  background: #FEFCFC;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  /*border-bottom: 1px solid  #0FD0AE;*/
}

.header p a {
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #10182F;
}

.header p a:hover {
  color: #4779ce;
}


.header ul {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header ul li {
  margin-left: 13px;
  list-style-type: none;
}

.header ul li a {
  color: #10182F;
  position: relative;
  text-decoration: none;
  letter-spacing: 0.5px;
  padding: 0 10px;
  font-weight: 500;
}

.header ul li a::after {
  content: "";
  position: absolute;
  background-color: #08705d;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.header ul li a:hover {
  color: #10182F;
}

.header ul li a:hover::after {
  width: 100%;
}

.btn {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #000;
  background: #f4f7f9;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid #000;
  /*transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;*/
  transition: all 0.3s;
}

.btn:hover {
  transform: translateY(-10px);
  background-color: #0FD0AE;
  color: #000;
}

.container {
  margin: 30px;
  border-radius: 20px;
  /*background: #e6e5e5;*/
  background: #EFF1E9;
  display: flex;
  min-height: 50vh;
  align-items: center;
}

.container .banner-box {
  width: 50%;
  margin: 80px;
  
}

.container .banner-box.banner-image a {
  transition: 200ms transform;
  display: block;
  margin-left: 70px;
}

.container .banner-box img {
  max-width: 100%;
}

.container .banner-box.banner-image a:hover {
  transform: scale(1.1);
}

.container .banner-box h1 {
  font-size: 48px;
  font-weight: 500;
  color: #101A28;
  line-height: 56px;
}

.container .banner-box p {
  font-size: 24px;
  color: #101A28;
  font-weight: 300;
  margin-top: 10px;
}

.container .banner-box .btn {
  margin-top: 65px;
}

.cont {
  margin: 30px;
  border-radius: 20px;
  background: linear-gradient(170deg, #212A39, #181E28);
  background-image: url('/images/images95.jpg'); /* Resmin dosya yolunu belirtin */
  background-size: cover; /* Resmi ekran boyutuna sığdırın */
  background-repeat: no-repeat; /* Tekrar etmeyi önleyin */
   /* Sayfa kaydırıldığında sabit kalmasını sağlayın */
}

.cont .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cont .inner h3 {
  font-size: 46px;
  font-weight: 600;
  color: #101A28;
  margin-bottom: 20px;
  margin-top: 10px;
  border-bottom: 3px solid #101A28;
}

.cont .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 670px;
  margin-bottom: 80px;
}

.section1 {
  display: flex;
  align-items: center;
  padding: 120px 300px;
  
}


.section1 .lang {
  display: flex;
  width: 100%;
  min-width: 100%;
  justify-content: space-between;
  
}


.section1 .lang a {
  position: relative;
  width: 284px;
  height: 250px;
  background: #EFF1E9;
  border-radius: 8px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 200ms all;
  margin-right: 10px;
  -ms-align-items: center;
  overflow: hidden;
}

.section1 .lang a::before {
  content: "";
  position: absolute;
  width: 170px;
  height: 150%;
  background: linear-gradient(#10182F, #10182F);
  animation: rotate 45s linear infinite;
}

.section1 .lang a::after {
  content: "";
  position: absolute;
  background: #EFF1E9;
  inset: 5px;
  border-radius: 16px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section1 .lang a:hover {
  transform: scale(1.04);
}

.section1 .lang a img {
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
  z-index: 2;
}

.section1 .lang a .title {
  font-size: 18px;
  color: #000;
  margin-top: 25px;
  z-index: 2;
}

.get a {
  background: #ebebeb;
  color: #000;
  font-weight: 500;
  transition: 100ms all;
  padding: 30px;
  text-transform: uppercase;
   transition: all 0.3s;
}

.get a:hover {
  transform: translateY(-10px);
  background-color: #0FD0AE;
  color: #000;
}

.footer {
  margin-top: auto;
  padding: 75px;
  border-top: 5px solid #13DD7A;
  background-color: #fff;
}

.footer-top {
  display: flex;
  align-items: flex-start;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin-right: 50px;
  color: #10182F;
}

.footer-menu {
  margin-left: auto;
  display: flex;
}

.footer-menu nav {
  min-width: 180px;
  margin-right: 40px;
}

.footer-menu nav h4 {
  font-size: 14px;
  font-weight: bold;
  color: 222C46;
  margin-bottom: 15px;
  text-transform: uppercase;
}

ul li a {
  display: block;
  font-size: 16px;
  color: #545D7A;
  padding: 10px 0;
}

ul li a:hover {
  color: #10182F;
}

.footer-bottom {
  padding-top: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom p {
  font-size: 14px;
  color: #10182F;
}

.footer-bottom .footer-menu ul  {
  display: flex;
}

.footer-bottom .footer-menu ul li {
  margin: 0 20px;
}

.footer-bottom .footer-menu ul li a {
  display: block;
  font-size: 14px;
  color: #10182F;
}

.footer-bottom .footer-menu ul li a:hover {
  color: #545D7A;
}

.footer-social {
  display: flex;
}


.footer-social li a {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social li a i {
  color: #10182F;
}

.footer-social li a i:hover {
  color:#545D7A;
}

.about-us {
  /*background-image: url(https://media.istockphoto.com/id/1300995605/tr/foto%C4%9Fraf/soyut-alrchitectural-%C3%A7izimler.jpg?s=2048x2048&w=is&k=20&c=RfAzjuu8pSgTPLJ93Kq3HZR4NCRQz1GnW-_RkHa6B58=);
  background-repeat: no-repeat;
  background-size: cover;*/
  background: linear-gradient(170deg, #212A39, #181E28);;
  background-image: url('/images/images96.jpg'); /* Resmin dosya yolunu belirtin */
  background-size: cover; /* Resmi ekran boyutuna sığdırın */
  background-repeat: no-repeat; /* Tekrar etmeyi önleyin */
  height: 70vh;
  width: 95%;
  margin: 30px;
  border-radius: 20px;
}

.wrapper {
  width: 70%;
  padding: 60px;
}

.intro {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bold;
}

.description {
  width: 50%;
  padding: 10px;
  margin-left: 50px;
}

.description p {
  color: #fff;
  font-size: 1.5rem;
}

.wall {
  width: 95%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.wall .material {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #EFF1E9;
  color: #000;
  width: 320px;
  height: 200px;
  padding: 30px;
  border-radius: 15px;
  margin: auto;
  max-width: 95%;
  gap: 20px;
  box-shadow: 0px 10px 10px 0px rgb(0, 8, 24);
}

.wall .material i {
  font-size: 30px;
  color: #13DD7A;
}

.wall .material h1 {
  border-bottom: none;
  color: #10182F;
  font-weight: bold;
}

.wall .material p {
  color: #10182F;
}

.second {
  margin-top: 20px;
}

.job {
  background: #E8E8E8;
  height: 90vh;
  width: 95%;
  margin: 30px;
  border-radius: 20px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px;
  width: 100%;
}

.create {
  display: inline-block;
  font-size: 2.5rem;
  margin-left: 70px;
}

.boxes {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.boxes h1 {
  color: #000;
  font-size: 4rem;
}

.boxes p {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
}

.boxes.one {
  width: 500px;
}



.boxes.two {
  width: 500px;
  
}


.boxes.three {
  width: 500px;
 
}

.boxes.four {
  width: 500px;
  
}

.boxes.five {
  width: 500px;
}

.boxes.six {
  width: 500px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  background: #fff;
  white-space: nowrap;
  margin: 30px;
  padding: 60px 0;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50vh;
  
  }
  

.logos-slide {
  animation: 30s slide infinite linear;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.logos:hover .logos-slide{
  animation-play-state: paused;
}

.sogol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sogol p {
  color: #000;
}


input:focus {
  outline: none;
}

svg {
  margin: auto;
  color: #0b5f4f;
}

.contact {
  height: 80vh;
  width: 95%;
  background: #EFF1E9;
  border-radius: 30px;
  padding: 30px 60px 40px 40px;
  margin: 30px;
}

.contact .contact-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact .contact-us .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;   
}

.contact-us .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  color: #afafb6;
}

.contact-us .left-side .details {
  margin: 14px;
  text-align: center;
}

.contact-us .left-side .details a {
  font-size: 20px;
  color: #10182F;
  margin-bottom: 10px;
}

.contact-us .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}

.contact-us .left-side .details .text-one, .content .left-side .details .text-two {
  font-size: 14px;
  color: #10182F;
}

.contact .contact-us .right-side {
  width: 75%;
  margin-left: 75px;
  margin-top: 20px;
}

.contact .contact-us .right-side p {
  color: #10182F;
}

.contact-us .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #10182F;
}



.right-side .input-box {
  height: 50px;
  width: 80%;
  margin: 12px 0;
}

.right-side  .input-box input,.right-side  .input-box textarea {
  height: 100%;
  width: 80%;
  border: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 4px;
  padding: 0 15px;
  resize: none;
}

.right-side .message-box {
  min-height: 110px;
  margin-top: 6px;
}

.right-side .button {
  margin-top: 6px;
}

.right-side .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  background-color: #10182F;
  outline: none;
  border-radius: 6px;
  padding: 8px 16px;
  transition: 300ms;
  border: none;
}

.button input[type="button"]:hover {
  background: #0b5f4f;
}



.model {
  background: #10182F;
  width: 95%;
  height: 100%;
  margin: 30px;
  border-radius: 30px;
}



.service h2 {
  color: #fff;
  font-size: 2rem;
  border-bottom: none;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service .lang {
  display: flex;
  width: 100%;
  min-width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.service .lang .modeling {
  border: 8px solid #afafb6;
}




.service .lang a {
  width: 284px;
  height: 250px;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .1);
  transition: 200ms all;
  margin-left: 50px;
}



.service .lang a:hover {
  transform: scale(1.04);
}

.service .lang a img {
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
}

.service .lang a .title {
  font-size: 18px;
  color: #000;
  margin-top: 25px;
}

.nav {
  padding: 120px;
 
}

.nav h2 {
  color: #fff;
}


.nav h3 {
  font-size: 1.5rem;
  color: #afafb6;
  font-size: bold;
  margin-bottom: 15px;
  margin-top: 10px;
  border-bottom: 2px solid #afafb6;
  display: inline-block;
}

.nav ul li {
  margin-top: 10px;
  list-style-type: circle;
}

.nav li,p {
  color: #fff;
  font-weight: bold;
}

/* CSS dosyanızda veya projenizin stil dosyasında */



.app {
  display: flex;
  width: 95%; /* Genişliği artırabilirsiniz */
  flex-direction: row;
  justify-content: center;
  padding-inline: 5rem;
  background: #fff;
  padding: 50px;
  margin: 30px;
  border-radius: 30px;
}



.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4rem;
  color: #fff;
  cursor: pointer;
  flex: 1; /* Bu satırı değiştirdik */
  margin: 10px;
  height: 50vh;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.panel.active {
  flex: 5; /* Bu satırı değiştirdik */
  background-size: contain;
  background-repeat: no-repeat;
  max-height: 50vh;
  width: 70%;
  transition: flex 0.7s ease-in;
  border-radius: 4rem;
}

.panel-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  transition: background 0.5s ease-in;
}

.panel.active .panel-content {
  background: rgba(0, 0, 0, 0);
}

.bdm h1 {
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 10px;
  color: #10182F;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 30px;
  border-radius: 30px;
}

.empty {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  
}





.return {
  background: #10182F;
  height: 50vh;
}

.play {
  background: #10182F;
  width: 95%;
  border-radius: 30px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
}




.vdr {
  margin: 10px;
  border-radius: 30px;
  max-width: 95%; /* Videoların orijinal genişliklerini koru */
  /* Otomatik yükseklik ayarı */
  height:auto;
  
}






